<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- 0.先引入vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 0.先引入axios.js -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="app3">
    
        用戶  <input type="text" v-model="uname"> <br>
        密码  <input type="text"  v-model="upwd"><br>
        邮箱  <input type="text"  v-model="email"><br>
        电话  <input type="text"  v-model="phone"><br>
            <a href="" @click.prevent="register">注册</a>
        </div>
    </div>

    <script>
        // 配合axios调用的基本URL
        axios.defaults.baseURL = "http://115.159.160.93:8080";

        var vm = new Vue({
            el: "#app3",
            data: {
                isLogin: false,
                uname: "dingding",
                upwd: "123456",
                email:"",
                phone:"",
            },

            methods: {
                register(){
                    //注册
                    let uname = this.uname;
                    let upwd = this.upwd;
                    let email = this.email;
                    let phone=this.phone;
                    axios.post("/user/login", { uname, upwd,email,phone }).then(result => {
                        console.log(result.data);
                        if (result.data.code == 200) {
                            console.log("注册成功")
                            this.isLogin = true;
                        }
                });
                    }}
                // logout() {
                //    // console.log("logout.....");
                //     axios.get("/user/logout").then(result => {
                //     if (result.data.code == 200) {
                //     this.isLogin = false;
                //     }
                //     })
                // },
                // login() {
                //     //  this.isLogin=true
                //     //判断用户  密码  是否合法用户
                //     let uname = this.uname;
                //     let upwd = this.upwd;
                //     axios.post("/user/login", { uname: this.uname, upwd: this.upwd }).then(result => {
                //         console.log(result.data);
                //         if (result.data.code == 200) {
                //             this.isLogin = true;
                //         }
                //     })
                // }
                   
            
        });
    </script>
</body>

</html>